/* variables */ 
$title-font: 'Koulen', sans-serif;
$b: 00.5px solid black;

$tarjetas:(
    border: $b,
    height: 450px,
    width: 300px,
    text-align: center,
    margin: 10px
);

$colores:(
    primario: rgba(203, 209, 212, 0.699),
    secundario: rgba(151, 138, 197, 0.459),
    terciario: rgba(255, 255, 255, 0)  
);

@mixin propiedades($ancho, $alto){
    width: $ancho;
    height: $alto;
}